<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .slide {
            border: 1px solid red;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 16px;
        }

        .slide:not(:first-child) {
            margin-top: 8px;
        }

        .slide.bg-dark {
            background-color: rgb(66, 66, 66);
            color: aliceblue;
        }
    </style>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100vh;
        }

        #container>div {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        #editors>div {
            flex-grow: 1;
            display: flex;
            width: 100%;
            flex-direction: column;
        }

        #markdownEditor,
        #styleEditor {
            flex-grow: 1;
            border: 1px solid grey
        }

        #preview {
            flex: 1;
            border: 1px solid grey;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <div id="container">
        <div id="editors">
            <div>
                <h2>Edit your slides</h2>
                <div id="markdownEditor"></div>
            </div>
            <div>
                <h2>Edit your style</h2>
                <div id="styleEditor"></div>
            </div>
        </div>
        <div id="previewContainer">
            <h2>Preview</h2>
            <style id="previewStyle" title="previewStyle">

            </style>
            <div id="preview"></div>
        </div>
    </div>

    <script>
        const currentData = `<%= data.replaceAll("`", '\\`') %>`;

        class MarkdownHandler {
            $previewContainer = document.getElementById('preview');
            $previewStyle = document.getElementById('previewStyle');
            $markdownEditor = document.getElementById('markdownEditor');
            $styleEditor = document.getElementById('styleEditor');
            lastEdit = undefined;
            constructor() {
            }

            loadPreview() {
                if (this.lastEdit) {
                    return;
                }

                this.lastEdit = setTimeout(async () => {
                    const response = await fetch('/edit/parse', {
                        body: JSON.stringify({ data: this.markdownEditor.getValue(), style: this.styleEditor.getValue() }),
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });

                    const data = await response.json();
                    for (let i = 0; i < document.styleSheets.length; i++) {
                        const css = document.styleSheets.item(i);
                        if (css.title === this.$previewStyle.id) {
                            const newStyle = document.createElement('style');
                            newStyle.id = css.title;
                            newStyle.title = css.title;
                            newStyle.textContent = this.styleEditor.getValue();
                            css.ownerNode.replaceWith(newStyle)
                            break;
                        }
                    }

                    this.$previewContainer.innerHTML = data.html;
                    this.lastEdit = undefined;
                }, 1000);
            }

            async loadEditor() {
                if (typeof monaco === "undefined") {
                    // debugger;
                    await new Promise(res => setTimeout(res, 1000));
                }

                this.markdownEditor = monaco.editor.create(this.$markdownEditor, {
                    value: currentData,
                    language: 'markdown',
                    automaticLayout: true,
                });
                this.styleEditor = monaco.editor.create(this.$styleEditor, {
                    language: 'css',
                    automaticLayout: true,
                });

                this.markdownEditor.onDidChangeModelContent(this.loadPreview.bind(this));
                this.styleEditor.onDidChangeModelContent(this.loadPreview.bind(this));

                this.markdownEditor.focus();
                this.loadPreview();
            };
        }

        mdHandler = new MarkdownHandler();
    </script>
    <script>
        var require = { paths: { vs: '../node_modules/monaco-editor/min/vs' } };
    </script>
    <script src="../node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="../node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="../node_modules/monaco-editor/min/vs/editor/editor.main.js" onload="mdHandler.loadEditor()"></script>

</body>

</html>